<ion-radio-group *ngIf="type && type === 'addUser'">
    <ion-item>
        <ion-label>Elige Avatar</ion-label>
    </ion-item>
    <div class="center-flex ml-m mt-m">

        <div *ngFor="let items of userAvatarsData">
            <ion-list lines="none">
                <ion-item (ionFocus)="selectItem($event)" size="large" *ngFor="let item of items" size="large">
                    <ion-avatar size="large" class="mr-l">
                        <img src="{{item.img}}">
                    </ion-avatar>
                    <ion-radio slot="start" value="{{item.value}}"></ion-radio>
                </ion-item>
            </ion-list>
        </div>
    </div>
</ion-radio-group>