<ion-content>
  <app-modal-header [title]="'Gastos'" (onCloseModal)="closeModal()"></app-modal-header>
  <ion-list>
    <ion-item class="mb-s">
      <ion-avatar slot="start">
        <img *ngIf="user" [src]="user.imageUrl">
      </ion-avatar>
      <ion-label>
        <h2>Gastos de {{user.name}}</h2>
        <p>Total de dinero aportado: 30€</p>
      </ion-label>
      <ion-button size="medium" color="primary" (click)="share(user)">
        <ion-icon slot="icon-only" name="card"></ion-icon>

      </ion-button>
    </ion-item>
  </ion-list>
  <app-reorder-list [activityButton]="false" [items]="expenses" [type]="'expenses'" (onCardClick)=goToExpenses($event) (onEdit)=editUser($event)
    (onDelete)=deleteUser($event) ></app-reorder-list>
</ion-content>