<ion-content class="animated fadeIn fast">
    <app-main-header [title]=title></app-main-header>
    <!-- <app-reorder-list [type]="type" [items]=groups (onDetails)="goToUsers($event)" (onDelete)="deleteGroup()" (onEdit)="editGroup($event)"
    (onActivity)="goToActivity($event)" (onCardClick)="goToUsers($event)" (onItemsOrderChanged)="reorderGroups()">
  </app-reorder-list> -->

    <app-list [user]="user" [items]="groups" (onClick)="goToUsers($event)" (onClickMenu)="openMenuModal($event)"></app-list>
</ion-content>