<form [formGroup]="userDataForm">
    <ion-grid fixed>
        <app-avatar [folder]="'users-avatar'" [avatars]="avatars" [avatarSelected]="avatarSelected" (onAvatarSelected)="avatarChange($event)"></app-avatar>
        <ion-row>
            <ion-col>
                <ion-list class="mt-m">
                    <ion-item>
                        <ion-input formControlName="name" placeholder="Nombre del grupo" type="text">
                        </ion-input>
                        <small class="no-valid" *ngIf="nameIsNoValid && groupDataForm.touched">Campo requerido</small>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <section class="ion-padding mt-m">
                    <ion-button [disabled]="userDataForm.invalid" (click)="submit()" shape="round" expand="block ">Añadir usuario</ion-button>
                </section>
            </ion-col>
        </ion-row>
    </ion-grid>
</form>