<ion-content>
  <app-modal-header [title]="'Usuarios'" (onCloseModal)="closeModal()"></app-modal-header>
  <ion-list>
    <ion-item class="mb-s">
      <!-- <ion-avatar slot="start">
            <img *ngIf="user" [src]="user.imageUrl">
          </ion-avatar> -->
      <ion-label>
        <h2>Grupo {{group.name}}</h2>
        <p>Total de gastos del grupo: 30€</p>
      </ion-label>
      <ion-button size="medium" color="primary" (click)="share(user)">
        <ion-icon slot="icon-only" name="person-add"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
  <app-reorder-list  [items]="users" [type]="'users'"
    (onCardClick)=goToExpenses($event) (onEdit)=editUser($event) (onDelete)=deleteUser($event)></app-reorder-list>
</ion-content>