<ion-content fullscreen class="animated fadeIn fast">
    <ion-slides (ionSlideTouchEnd)="onSlidesMove()" #mainSlide [options]="slideOptions">
        <ion-slide>
            <ion-content class="ion-padding">
                <app-add-group [group]="group" (onEdit)="editGroup($event)" (onSubmit)="submit($event)" (onAvatarSelected)="avatarChange($event)"></app-add-group>
            </ion-content>
        </ion-slide>
        <ion-slide>
            <ion-content fullscreen class="animated fadeIn fast">
                <app-main-header [title]=title></app-main-header>
                <app-groups-list [user]="user" [groups]="groups" (onActivity)="goToActivity($event)" (onEdit)="goEditGroupView($event)" (onClick)="goToUsers($event)"></app-groups-list>
                <ion-fab class="mb-m mr-m" (click)=addGroup() horizontal="end" vertical="bottom" slot="fixed">
                    <ion-fab-button>
                        <ion-icon size="small" name="add"></ion-icon>
                        <ion-icon size="small" name="people"></ion-icon>
                    </ion-fab-button>
                </ion-fab>
            </ion-content>
        </ion-slide>
        <ion-slide>
            <ion-content fullscreen class="animated fadeIn fast">
                <app-main-header></app-main-header>
                <app-activity *ngIf="activity" [groupName]="groupName" [activity]="activity"></app-activity>
            </ion-content>
        </ion-slide>
    </ion-slides>


</ion-content>