<app-header></app-header>


<ion-content class="animated fadeIn fast" scroll="false">
    <div class="ion-padding">
        <form [formGroup]="signupForm">
            <ion-list  class="ion-padding">
              <ion-item class="mb-m">
                <ion-input autocapitalize="on" formControlName="name" [placeholder]="'NAME' | translate" type="text">
                </ion-input>
                <small class="no-valid" *ngIf="nameIsNoValid">{{'NAME_NO_VALID' | translate}}</small>
              </ion-item>
              <ion-item class="mb-m">
                <ion-input autocapitalize="on" formControlName="lastname" [placeholder]="'LASTNAME' | translate" type="text">
                </ion-input>
                <small class="no-valid" *ngIf="lastnameIsNoValid">{{'LASTNAME_NO_VALID' | translate}}</small>
              </ion-item>
              <ion-item class="mb-m" >
                <ion-input autocapitalize="on" formControlName="email" [placeholder]="'EMAIL' | translate" type="email">
                </ion-input>
                <small class="no-valid" *ngIf="emailIsNoValid">{{'EMAIL_NO_VALID' | translate}}</small>
              </ion-item>
              <ion-item class="mb-m">
                <ion-input autocapitalize="on" formControlName="password" [placeholder]="'PASSWORD' | translate" type="{{hidePassword ? 'password' : 'text'}}">
                </ion-input>
                <ion-icon (click)="changeVisiblityPass()" 
                name="{{hidePassword ? 'eye-off-outline' : 'eye-outline'}}"></ion-icon>
              </ion-item>
              <ion-item class="mb-m">
                <ion-input autocapitalize="on" formControlName="confirmPassword" [placeholder]="'CONFIRM_PASSWORD' | translate" type="{{hidePassword ? 'password' : 'text'}}">
                </ion-input>
                <ion-icon (click)="changeVisiblityPass()" 
                name="{{hidePassword ? 'eye-off-outline' : 'eye-outline'}}"></ion-icon>
              </ion-item>
              <small class="no-valid mr-m" *ngIf="passwordsNotMatch">{{'PASSWORD_NO_MATCH' | translate}}</small>
            </ion-list>
            <section class="full-width p-l">
              <ion-button (click)="signUp()"  [disabled]="signupForm.invalid || signupForm.untouched"  expand="block" >{{'SIGNUP' | translate}}
              </ion-button>
            </section>
          </form>
    </div>
  </ion-content>
  