<ion-content fullscreen class="animated fadeIn fast">
    <ion-slides *ngIf="slideOptions" (ionSlideTouchEnd)="onSlidesMove()" #mainSlide [options]="slideOptions">
        <ion-slide>
            <ion-content class="ion-padding">
                <app-add-user [user]="user" (onEditUser)="editUser($event)" (onAddUser)="addUser($event)" (onAvatarSelected)="avatarChange($event)"></app-add-user>
            </ion-content>
        </ion-slide>

        <ion-slide>
            <ion-content fullscreen class="animated fadeIn fast">
                <app-main-header [showGoBackButton]="true" (onGoBack)=goBack() [title]="title"></app-main-header>
                <app-user-list *ngIf="users" [users]="users" [group]="group" (onActivity)="goToActivity($event)" (onEditUser)="goEditUserView($event)" (onAddExpense)="addExpense($event)" (onEditGroup)="editGroup($event)"></app-user-list>
                <ion-fab class="mb-m mr-m" (click)=addUser() horizontal="end" vertical="bottom" slot="fixed">
                    <ion-fab-button>
                        <ion-icon name="person-add"></ion-icon>
                    </ion-fab-button>
                </ion-fab>

            </ion-content>
        </ion-slide>
        <ion-slide>
            <h1>Activity</h1>
        </ion-slide>
    </ion-slides>


</ion-content>