<ion-header class="animated fadeIn fast ion-no-border" translucent>
    <ion-toolbar style="margin: 0;" class="mt-m">
        <ion-icon *ngIf="showGoBackButton" (click)="goBack()" size="large" slot="start" class="ml-l" name="arrow-back-circle">
        </ion-icon>
        <ion-buttons class="mr-m" slot="end">
            <ion-item lines="none">
                <ion-avatar>
                    <img *ngIf="user" [src]="user.imageUrl" alt="">
                </ion-avatar>
            </ion-item>
        </ion-buttons>
    </ion-toolbar>
</ion-header>